html { 
  background: url(bg-code.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Hepta Slab', sans-serif;
}
h1 {
	color: #f2d3e6;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}
h2 {
	color: white;
	font-size: 22px;
	margin-bottom: 0;
}
.bio {
	color: white;
	font-size: 22px;

}
.me {
	height: 150px;
	border-radius: 100%;
	border-style:	solid;
	border-color: #919191;
	margin-top: 40px;
}
.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.grey {
	height: 3px;
	background-color: #919191;
	border: none;
	width: 50px;
}

.about-container {
  background: url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}