<div class="col-10 offset-1 about">
  <h1>About this site:</h1>

  <p>
    This is a Steven Universe quote generator created by Ben Kim. You can add your own favorite Steven Universe quotes by clicking on "Contribute".
  </p>

  <br />

  <p>The font used in the quotes is "Crewniverse", created by DeviantArt user <a href="http://maxigamer.deviantart.com">MaxiGamer</a>.</p>

  <br />

  <div class="row">
    <!-- <div class="col-12 col-sm-4">
      <%= image_tag 'ben.jpg', class: 'img-fluid' %>
    </div> -->

    <div class="col-12 col-sm-10">
      <!-- <h2 class="text-left">Ben Kim</h2> -->
      <br />
      <p>
        Ben is an educator, developer, and Steven Universe super fan.
      </p>
    </div>
  </div>
  <br class="clear">

  <br />
  <br />
  <br />
  <br />
  <br />



</div>